//
//  Base.xcconfig
//  DeliveryApp
//
//  Created by raven on 12/16/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

FIREBASE_API_KEY =
REVERSED_CLIENT_ID =
CLIENT_ID =
